<font size="5"> Import & Check Original USA Wildfires Data

This script contains the following points:
1.  Import libraries
2.  Set OS Path
3.  Import data & convert to dataframe
4.  Check dataframe shape & head
5.  Check dataframe data types & check for mixed data types
6.  Check dataframe for missing values   
7.  Drop DISCOVERY_TIME column & check head 
8.  Change DISCOVERY_DATE data type from obejct to datetime64[ns] & check data types
9.  Derive month and day of week columns from DISCOVERY_DATE
10. Check dataframe for duplicate records 
12. Basic statistical analysis    
11. Export Data to pkl file

</font>

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import sqlite3

In [2]:
#Set OS Path
path = r'/Users/faridchehraz/Desktop/Python/Master - USA Wildfires'

In [3]:
#Read sqlite query data into a pandas DataFrame
con = sqlite3.connect("/Users/faridchehraz/Desktop/Python/Master - USA Wildfires/2. Data/a. Original Data/FPA_FOD_20210617.sqlite")
df = pd.read_sql_query("SELECT FOD_ID,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,NWCG_GENERAL_CAUSE,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_DESCR,STATE,COUNTY,FIPS_NAME from fires", con)

#Verify that result of SQL query is stored in the dataframe
print(df.head())

#Close connection
con.close()

   FOD_ID  FIRE_YEAR  DISCOVERY_DATE  DISCOVERY_DOY  DISCOVERY_TIME  \
0       1       2005   2/2/2005 0:00             33          1300.0
1       2       2004  5/12/2004 0:00            133           845.0
2       3       2004  5/31/2004 0:00            152          1921.0
3       4       2004  6/28/2004 0:00            180          1600.0
4       5       2004  6/28/2004 0:00            180          1600.0

                           NWCG_GENERAL_CAUSE  FIRE_SIZE FIRE_SIZE_CLASS  \
0  Power generation/transmission/distribution       0.10               A
1                                     Natural       0.25               A
2                     Debris and open burning       0.10               A
3                                     Natural       0.10               A
4                                     Natural       0.10               A

    LATITUDE   LONGITUDE       OWNER_DESCR STATE COUNTY         FIPS_NAME
0  40.036944 -121.005833              USFS    CA     63     Plumas County
1  38.933056 -120.404444              USFS    CA     61     Placer County
2  38.984167 -120.735556  STATE OR PRIVATE    CA     17  El Dorado County
3  38.559167 -119.913333              USFS    CA      3     Alpine County
4  38.559167 -119.933056              USFS    CA      3     Alpine County

In [4]:
#Check shape
df.shape

(2166753, 14)

In [6]:
df[df.STATE == 'NV'].shape[0]

18874

In [5]:
#Check head
pd.set_option('display.max_columns', None)
df.head()

,FOD_ID,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,NWCG_GENERAL_CAUSE,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_DESCR,STATE,COUNTY,FIPS_NAME
0,1,2005,2/2/2005 0:00,33,1300.0,Power generation/transmission/distribution,0.10,A,40.036944,-121.005833,USFS,CA,63,Plumas County
1,2,2004,5/12/2004 0:00,133,845.0,Natural,0.25,A,38.933056,-120.404444,USFS,CA,61,Placer County
2,3,2004,5/31/2004 0:00,152,1921.0,Debris and open burning,0.10,A,38.984167,-120.735556,STATE OR PRIVATE,CA,17,El Dorado County
3,4,2004,6/28/2004 0:00,180,1600.0,Natural,0.10,A,38.559167,-119.913333,USFS,CA,3,Alpine County
4,5,2004,6/28/2004 0:00,180,1600.0,Natural,0.10,A,38.559167,-119.933056,USFS,CA,3,Alpine County

In [6]:
#Check data types
df.dtypes

FOD_ID                  int64
FIRE_YEAR               int64
DISCOVERY_DATE         object
DISCOVERY_DOY           int64
DISCOVERY_TIME        float64
NWCG_GENERAL_CAUSE     object
FIRE_SIZE             float64
FIRE_SIZE_CLASS        object
LATITUDE              float64
LONGITUDE             float64
OWNER_DESCR            object
STATE                  object
COUNTY                 object
FIPS_NAME              object
dtype: object

In [7]:
#Check for mixed data types in dataframe
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

COUNTY
FIPS_NAME

In [8]:
#Check for NaN values
df.isna().sum()

FOD_ID                     0
FIRE_YEAR                  0
DISCOVERY_DATE             0
DISCOVERY_DOY              0
DISCOVERY_TIME        754468
NWCG_GENERAL_CAUSE         0
FIRE_SIZE                  0
FIRE_SIZE_CLASS            0
LATITUDE                   0
LONGITUDE                  0
OWNER_DESCR                0
STATE                      0
COUNTY                657235
FIPS_NAME             657236
dtype: int64

In [9]:
#Check column variables
df.OWNER_DESCR.value_counts()

MISSING/NOT SPECIFIED    1011331
PRIVATE                   555554
USFS                      204082
BIA                       117326
STATE OR PRIVATE           71576
BLM                        69807
STATE                      52306
NPS                        19064
OTHER FEDERAL              15082
FWS                        13207
TRIBAL                     10878
MUNICIPAL/LOCAL            10852
UNDEFINED FEDERAL           9872
COUNTY                      5392
BOR                          409
FOREIGN                       15
Name: OWNER_DESCR, dtype: int64

There are >1 million records with an unspecified land owner description. Will not drop the column but bear in mind for any analysis and / or related findings.

In [10]:
#Drop DISCOVERY_TIME column
df = df.drop(columns = ['DISCOVERY_TIME'])

In [11]:
#Check shape
df.shape

(2166753, 13)

In [12]:
#Check header
pd.set_option('display.max_columns', None)
df.head()

,FOD_ID,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,NWCG_GENERAL_CAUSE,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_DESCR,STATE,COUNTY,FIPS_NAME
0,1,2005,2/2/2005 0:00,33,Power generation/transmission/distribution,0.10,A,40.036944,-121.005833,USFS,CA,63,Plumas County
1,2,2004,5/12/2004 0:00,133,Natural,0.25,A,38.933056,-120.404444,USFS,CA,61,Placer County
2,3,2004,5/31/2004 0:00,152,Debris and open burning,0.10,A,38.984167,-120.735556,STATE OR PRIVATE,CA,17,El Dorado County
3,4,2004,6/28/2004 0:00,180,Natural,0.10,A,38.559167,-119.913333,USFS,CA,3,Alpine County
4,5,2004,6/28/2004 0:00,180,Natural,0.10,A,38.559167,-119.933056,USFS,CA,3,Alpine County

In [13]:
#Change DISCOERY_DATE data type from obejct to datetime64[ns]
df['DISCOVERY_DATE'] = df['DISCOVERY_DATE'].astype('datetime64[ns]')

In [14]:
#Check data types
df.dtypes

FOD_ID                         int64
FIRE_YEAR                      int64
DISCOVERY_DATE        datetime64[ns]
DISCOVERY_DOY                  int64
NWCG_GENERAL_CAUSE            object
FIRE_SIZE                    float64
FIRE_SIZE_CLASS               object
LATITUDE                     float64
LONGITUDE                    float64
OWNER_DESCR                   object
STATE                         object
COUNTY                        object
FIPS_NAME                     object
dtype: object

In [15]:
#Extract Discovery date & Containment date Month and Day of week
df['DISC_MONTH'] = pd.DatetimeIndex(df['DISCOVERY_DATE']).month
df['DISC_DOW'] = df['DISCOVERY_DATE'].dt.day_name()
print(df.head())

   FOD_ID  FIRE_YEAR DISCOVERY_DATE  DISCOVERY_DOY  \
0       1       2005     2005-02-02             33
1       2       2004     2004-05-12            133
2       3       2004     2004-05-31            152
3       4       2004     2004-06-28            180
4       5       2004     2004-06-28            180

                           NWCG_GENERAL_CAUSE  FIRE_SIZE FIRE_SIZE_CLASS  \
0  Power generation/transmission/distribution       0.10               A
1                                     Natural       0.25               A
2                     Debris and open burning       0.10               A
3                                     Natural       0.10               A
4                                     Natural       0.10               A

    LATITUDE   LONGITUDE       OWNER_DESCR STATE COUNTY         FIPS_NAME  \
0  40.036944 -121.005833              USFS    CA     63     Plumas County
1  38.933056 -120.404444              USFS    CA     61     Placer County
2  38.984167 -120.735556  STATE OR PRIVATE    CA     17  El Dorado County
3  38.559167 -119.913333              USFS    CA      3     Alpine County
4  38.559167 -119.933056              USFS    CA      3     Alpine County

   DISC_MONTH   DISC_DOW
0           2  Wednesday
1           5  Wednesday
2           5     Monday
3           6     Monday
4           6     Monday

In [16]:
#Check for duplicate records, none found
df_dups = df[df.duplicated()]
df_dups

Empty DataFrame
Columns: [FOD_ID, FIRE_YEAR, DISCOVERY_DATE, DISCOVERY_DOY, NWCG_GENERAL_CAUSE, FIRE_SIZE, FIRE_SIZE_CLASS, LATITUDE, LONGITUDE, OWNER_DESCR, STATE, COUNTY, FIPS_NAME, DISC_MONTH, DISC_DOW]
Index: []

In [17]:
#Basic statistical descrptive analysis
df.describe().apply(lambda s: s.apply('{0:.2f}'.format))

,FOD_ID,FIRE_YEAR,DISCOVERY_DOY,FIRE_SIZE,LATITUDE,LONGITUDE,DISC_MONTH
count,2166753.00,2166753.00,2166753.00,2166753.00,2166753.00,2166753.00,2166753.00
mean,100699748.95,2005.32,164.99,75.99,36.89,-96.19,5.94
std,150380118.92,7.54,89.99,2536.04,6.02,16.65,2.95
min,1.00,1992.00,1.00,0.00,17.94,-178.80,1.00
25%,582842.00,1999.00,89.00,0.10,32.96,-110.85,3.00
50%,1320811.00,2006.00,165.00,0.97,35.64,-93.11,6.00
75%,201662150.00,2011.00,230.00,3.00,40.81,-82.46,8.00
max,400482086.00,2018.00,366.00,662700.00,70.33,-65.26,12.00

In [18]:
#Export dataframe as US_wildfires
df.to_pickle(os.path.join(path, '2. Data', 'b. Prepared Data', 'US_wildfires.pkl'))